$space: 1.5em;
$space-lg: 2em;

// colors
$magenta-huge-color: #ec008c;
$title-color: #fff;
$black-color: #000;
$red-color: #f00;
$white-color: #fff;
$gray-color: hsla(31, 15%, 50%, 0.1);

// fonts
$page-copy-font: 'Helvetica';
